<div class="card text-center" #card>
  <div class="card-header">
    InvManagement
  </div>
  <div class="card-body">

    <h5 class="card-title">Username</h5>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <h5 class="card-title">Password</h5>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <a href="#" class="btn btn-primary btn-lg">Login</a>
  </div>
  <div class="card-footer">
  </div>
</div>