.card {
    /* margin: 6em; */
    height: 600px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.card-header {
    font-size: xxx-large;
    font-weight: bold;
}

h5 {
    margin-top: 50px;
}

button {
    margin-top: 25px;
}

p {
    color: red;
    font-weight: bold;
    margin: 0;
}